<div style="width: 400px; margin: auto;">
  <div *ngIf="currentUser" class="edit-form">
    <h4>Profile</h4>
    <form>
      <div class="form-group">
        <label for="usernamepublic">usernamepublic</label>
        <input
          type="text"
          class="form-control"
          id="usernamepublic"
          [(ngModel)]="currentUser.usernamepublic"
          name="usernamepublic"
        />title
      </div>
      <div class="form-group">
        <label for="emailpublic">emailpublic</label>
        <input
          type="text"
          class="form-control"
          id="emailpublic"
          [(ngModel)]="currentUser.emailpublic"
          name="emailpublic"
        />
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="currentUser.email"
          name="email"
        />
      </div>

    </form>

   
    

    <button class="badge badge-danger mr-2" (click)="deleteProfile()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success"
      (click)="updateProfile()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

</div>






















<!--<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <form>
    
  <p>
    <strong>Username:</strong>
    {{ currentUser.username }}
  </p>
  <!-- <p>
   <strong>Token:</strong>
    {{ currentUser.accessToken.substring(0, 20) }} ...
    {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
 <!-- </p><div class="form-group">
  <label for ="email">Email </label>
  <input
  type="text"
          class="form-control"
          id="email"
          [(ngModel)]="currentUser.email"
          name="email"/>
   </div>
   <div class="form-group">
    <label for="emailpublic">Emailpublic</label>
    <input
      type="text"
      class="form-control"
      id="emailpublic"
      [(ngModel)]="currentUser.emailpublic"
      name="emailpublic"
    />
  </div>
  <h2>Profiles details</h2>
  <ul>
  <li>Usernamepublic: {{currentUser.usernamepublic}} </li>

  <li>Emailpublic: {{currentUser.emailpublic}} </li>


  <li>
    <label>Gender:
      <input [(ngModel)]="currentUser.gender" name = "gender" placeholder="gender"/>
    </label>
   
</li>
</ul>-->
  <!--<strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>-->
  <!--сюда самостоятельно пишу данные, которые заполняет пользователь
  tutorial 4

  </form>
  <button
  type="submit"
  class="badge badge-success"
  (click)="updateProfile()"
>
  Update
</button>
<p>{{ message }}</p>
</div>
 <p> *********************************************** </p>-->


<!--
 <div style="width: 400px; margin: auto;">
  <div *ngIf="" class="edit-form">
    <h4>Profile</h4>
    <form>
      <div class="form-group">
        <label for="title">Gender</label>
        <input
          type="text"
          class="form-control"
          id="gender"
          [(ngModel)]="currentProfile.gender"
          name="gender"
        />
      </div>
     

  
    </form>

    
    <button class="badge badge-danger mr-2" (click)="deleteProfile()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success"
      (click)="updateProfile()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentProfile">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</div>-->





<ng-template #loggedOut>
  Please login.
</ng-template>

