
  <app-upload-images></app-upload-images>

<div style="width: 400px; margin: auto;">
  <div *ngIf="currentUser" class="edit-form">
    <h4>Profile</h4>
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          [(ngModel)]="currentUser.username"
          name="username"
        />
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="currentUser.email"  
          name="email"
        />
      </div>
      <div class="form-group">
        <label for="usernamepublic">usernamepublic</label>
        <input
          type="text"
          class="form-control"
          id="usernamepublic"
          [(ngModel)]="currentUser.usernamepublic" 
          name="usernamepublic"
        />title
      </div>
      <div class="form-group">
        <label for="emailpublic">emailpublic</label>
        <input
          type="text"
          class="form-control"
          id="emailpublic"
          [(ngModel)]="currentUser.emailpublic" 
          name="emailpublic"
        />
      </div>
      <div class="form-group">
        <label for="gender">gender</label>
        <input
          type="text"
          class="form-control"
          id="gender"
          [(ngModel)]="currentUser.gender" 
          name="gender"
        />
      </div>

    </form>


    <button class="badge badge-danger mr-2" (click)="deleteProfile()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success"
      (click)="updateProfile()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

</div>



<ng-template #loggedOut>
  Please login.
</ng-template>

