
<div >
  <div *ngIf="currentUser" 
  style="background-color: rgb(149, 204, 235, 0.5);
  width:98%; margin:0.05em auto 0" >
    <div class="badge bg-primary"
    style="width: 100%;"><h1>My profile</h1></div>
    
    
    <table cellspacing="0">
      <tr>
       <td>Username:</td><td>{{currentUser.username}}</td>
      </tr>
      <tr>
       <td>Email:</td><td>{{currentUser.email}}</td>
      </tr>
     </table>
    
      <form>
        <div class="form-group">
          <label for="foto">Foto</label>
          <input
        
          />
        </div>

      <div class="form-group">
        <label for="nickname">Nickname</label>
        <input
          type="text"
          class="form-control"
          id="nickname"
          [(ngModel)]="currentUser.nickname"
          name="nickname"
        />
      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <input
          type="text"
          class="form-control"
          id="gender"
          [(ngModel)]="currentUser.gender"
          name="gender"
        />
      </div>

      <div class="form-group">
        <label for="date_of_birth">Date of birth</label>
        <input
          type="date"
        
          class="form-control"
          id="date_of_birth"
          [(ngModel)]="currentUser.date_of_birth"
          name="date_of_birth"
        />
      </div>

      <div class="form-group">
        <label for="children">Children</label>
        <input
          type="text"
          class="form-control"
          id="children"
          [(ngModel)]="currentUser.children"
          name="children"
        />
      </div>

      <div class="form-group">
        <label for="marital_status">Marital status</label>
        <input
          type="text"
          class="form-control"
          id="marital_status"
          [(ngModel)]="currentUser.marital_status"
          name="marital_status"
        />
      </div>

      <div class="form-group">
        <label for="education">Education</label>
        <input
          type="text"
          class="form-control"
          id="education"
          [(ngModel)]="currentUser.education"
          name="education"
        />
      </div>
      <div class="form-group">
        <label for="profession">Profession</label>
        <input
          type="text"
          class="form-control"
          id="profession"
          [(ngModel)]="currentUser.profession"
          name="profession"
        />
      </div>

      <div class="form-group">
        <label for="about_myself">About myself</label>
     
          <textarea name="comment" cols="46" rows="4"
          class="form-control"
          id="about_myself"
          [(ngModel)]="currentUser.about_myself"
          name="about_myself">
            {{currentUser.about_myself}}
          </textarea>
       
      </div>
    </form>

   <p class="mess">{{ message }}</p>

  <div class="buttons">
    <button class="badge badge-danger mr-2" 
    style="display: inline-block;
    margin: auto; 
    text-align: center;
     width: 170px;
     height: 30px;
    font-size: 1.3em;
    padding: 0 1em; "
    (click)="deleteProfile()">
      Delete profile
    </button>

    <button type="submit" class="badge badge-success" (click)="updateProfile()"
    style="display: inline-block;
    
     width: 170px;
     height: 30px;
     font-size: 1.3em;
    padding: 0 1em;
    text-align: center;"
    >
      Update
    </button>
  </div>
    
 
 

  </div>
 
  <div *ngIf="!currentUser"
  style="background-color: rgb(149, 204, 235, 0.5);
  width:98%; margin:0.05em auto 0" >
    <div class="badge bg-primary"
    style="width: 100%;"><h1>Please, login</h1>
   </div> 


