<div class="container-fluid">
  <div style="margin-top: 20px">Ilmoittautumislomake</div>
  <!-- внутри form ,было вставлено #f="ngForm" (ngSubmit)="onSubmit(f.value); navigateToList()"
Но у  меня не работает. Заработало: надо было в ts указать onSubmit
-->
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value); navigateToList()">
    <div class="form-group">
      <label id="nimi">Nimi:</label>
      <input
      type="text"
      class="form-control"
      name="nimi" ngModel
      />
      <br />
      <label style="margin-top: 10px" id="email">Email:</label>
      <input
        type="text"
        class="form-control"
        name="email" ngModel
      />
      <br />
      <label style="margin-top: 10px" for="ruoka" id="ruoka">Ruokavalinta:</label>

      <select
        class="form-control"
        name="ruoka"
        for="ruoka"
     ngModel
      >
        <option>Kala</option>
        <option>Liha</option>
        <option>Kasvis</option>
      </select>

      <div class="checkbox" style="margin-top: 20px">
        <label id="sauna"
          ><input
            for="sana"
            type="checkbox"
            name="sauna"
            ngModel
          />
          Osallistunut saunailtaan</label
        >
      </div> 
    </div>
    <button
      type="submit"
      class="btn btn-outline-secondary"
      class="add-button"
      class ="topmargin"
     
    >
      Lähetä
    </button>
  </form>
</div>




