<div *ngIf="profile">
  <h2>Profiles details</h2>
  <ul>
  <li>Username: {{profile.usernamepublic}} </li>
  <li>Email: {{profile.emailpublic}} </li>
  <li>Gender: {{profile.gender}} </li>
</ul>
</div>

<!--
<div style="width: 400px; margin: auto;">
  <div *ngIf="profile">
    
    <h2>{{profile.usernamepublic | uppercase}} profile</h2>
    <form>
      <div class="form-group">
        <label for="usernamepublic">Public Username!!!!!!!</label>
        <input
          type="text"
          class="form-control"
          id="usernamepublic"
          [(ngModel)]="profile.usernamepublic"
          name="usernamepublic"
        />
      </div>
      <div class="form-group">
        <label for="emailpublic"></label>
        <input
          type="text"
          class="form-control"
          id="emailpublic"
          [(ngModel)]="profile.emailpublic"
          name="emailpublic"
        />
      </div>

      <div class="form-group">
        <label for="gender"></label>
        <input
          type="text"
          class="form-control"
          id="gender"
          [(ngModel)]="profile.gender"
          name="gender"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ profile.published ? "Published" : "Pending" }}
      </div>
    </form>
<!--
    <button
      class="badge badge-primary mr-2"
      *ngIf="profile.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentProfile.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteProfile()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success"
      (click)="updateProfile()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>-->
<!--
  <div *ngIf="!profile">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
   <!--кнопка, чтобы идти на шаг назад-->
  <!-- <button (click)="goBack()">go back</button>
</div>-->

