<div *ngIf="profile">
  <h2>Profiles details</h2>
  <ul>
    <li>Nickname: {{ profile.nickname }}</li>
    <li>Gender: {{ profile.gender }}</li>
    <li>Email: {{ profile.email }}</li>
    <li>Date of birth: {{ profile.date_of_birth }}</li>
    <li>Children: {{ profile.children }}</li>
    <li>Marital status: {{ profile.marital_status }}</li>
    <li>Education: {{ profile.education }}</li>
    <li>Profession: {{ profile.profession }}</li>
    <li>About myself: {{ profile.about_myself }}</li>

  </ul>
</div>
