<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by gender"
        [(ngModel)]="gender"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchGender()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Profiles List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let profile of profiles; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveProfile(profile, i)"
      >
        {{ profile.gender }}
      </li>
    </ul>

  </div>
  <div class="col-md-6">
    <div *ngIf="currentProfile">
      <h4>Profile</h4>
      <div>
        <label><strong>Gender:</strong></label> {{ currentProfile.gender}}
      </div>
      <!--<div>
        <label><strong>Description:</strong></label>
        {{ currentTutorial.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentTutorial.published ? "Published" : "Pending" }}
      </div>
    -->
    <!--If you click on Edit button of any Tutorial, You will be directed to Tutorial page with url: /tutorials/:id.-->
      <a class="badge badge-warning" routerLink="/profile/{{ currentProfile.id}}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentProfile">
      <br />
      <p>Please click on a Profile...</p>
    </div>
  </div>
</div>


