
  
    <div >
      <div  
      style="background-color: rgb(149, 204, 235, 0.5);
      width:98%; margin:0.05em auto 0;" >
      
    <div class="search">
<app-profile-search></app-profile-search></div>
<div class="badge bg-primary" style="width: 100%;">
  <h1>Profiles list</h1></div>

<div class="container" >
<a
    *ngFor="let profile of profiles"
    class=" list-group-item-action col-1-4"
    routerLink="/profiles/username/{{ profile.nickname }}"
    
  >
  <div class="element"
  > <h4>{{ profile.nickname }}</h4></div> 
  </a>
</div>
</div>
</div>