<!--There are signUp
  We use Form Validation in the template:
    username: required, minLength=3, maxLength=20
    email: required, email format
    password: required, minLength=6
  In the code above, we use Template Driven Form-->
  
  <div class="col-md-12">
  <div class="card card-container" style="background-color: rgb(149, 204, 235, 0.5);">
    <div class="badge bg-primary"><h1>Registration form</h1></div>
<!--uploading без формы
<div class="text-center">
    <input class="form-control" type="file" 
            (change)="onChange($event)">
  
    <button (click)="onUpload()" 
        class="btn btn-success">
        Upload
    </button>
</div>
  
<!--Shareable short link of  uoloaded file 
<div class="container text-center jumbotron"
    *ngIf="shortLink">
    <h2> Visit Here</h2>
    <a href="{{shortLink}}">{{shortLink}}</a>
</div>
  
Flag variable is used here
<div class="container" *ngIf="loading">
    <h3>Loading ...</h3>
</div>-->
    <!--*************************************************-->
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
<!--upload file-->
<div class = "form-group">
   <label for="foto">Foto</label> 
   <input class="form-control" 
   type="file" 
  (change)="onChange($event)"
  name="foto"
  class="form-control"
  [(ngModel)]="form.foto"
    #foto="ngModel"
    ngModel>
</div>

 <!-- ---------------------------------- -->


      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors.maxlength">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="nickname">Nickname</label>
        <input
          type="nickname"
          class="form-control"
          name="nickname"
          [(ngModel)]="form.nickname"
          required
          minlength="3"
          maxlength="20"
          nickname
          #nickname="ngModel"
        />
        <div class="alert-danger" *ngIf="nickname.errors && f.submitted">
          <div *ngIf="nickname.errors.required">Username is required</div>
          <div *ngIf="nickname.errors.minlength">
            Nickname must be at least 3 characters
          </div>
          <div *ngIf="nickname.errors.maxlength">
            Nickname must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="gender" id="gender">Gender</label>

        <select
          type="gender"
          class="form-control"
          [(ngModel)]="form.gender"
          required
          gender
          #gender="ngModel"
          name="gender"
          for="gender"
          ngModel
        >
          <option>Female</option>
          <option>Male</option>
        </select>
        <div class="alert-danger" *ngIf="gender.errors && f.submitted">
          <div *ngIf="gender.errors.required">Gender is required</div>
        </div>
      </div>

     

      <div class="form-group">
        <label for="date_of_birth">Date of birth</label>
        <input
          type="date"
          class="form-control"
          name="date_of_birth"
          [(ngModel)]="form.date_of_birth"
          date_of_birth
          #date_of_birth="ngModel"
        />
      </div>

      <div class="form-group">
        <label for="children" id="children">Сhildren</label>

        <select
          type="children"
          class="form-control"
          [(ngModel)]="form.children"
       
          children
          #children="ngModel"
          name="children"
          for="children"
          ngModel
        >
          <option>I prefer not to say</option>
          <option>I do not have children</option>
          <option>1 child</option>
          <option>2 children</option>
          <option>3 children</option>
          <option>more than 3 children</option>
        </select>
      </div>

      <div class="form-group">
        <label for="marital_status" id="marital_status">Marital status</label>

        <select
          type="marital_status"
          class="form-control"
          [(ngModel)]="form.marital_status"
          
          marital_status
          #marital_status="ngModel"
          name="marital_status"
          for="marital_status"
          ngModel
        >
          <option>I prefer not to say</option>
          <option>Single</option>
          <option>Married</option>
          <option>Divorsed</option>
          <option>Widow</option>
        </select>
      </div>

      <div class="form-group">
        <label for="education" id="education">Education</label>

        <select
          type="education"
          class="form-control"
          [(ngModel)]="form.education"
       
          education
          #education="ngModel"
          name="education"
          for="education"
          ngModel
        >
          <option>I prefer not to say</option>
          <option>High school graduate</option>
          <option>Higher Education</option>
          <option>Student</option>
          <option>General secondary education</option>
          <option>Pupil</option>
          <option>Other</option>
        </select>
      </div>

      <div class="form-group">
        <label for="profession">Profession</label>
        <input
          type="profession"
          class="form-control"
          name="profession"
          [(ngModel)]="form.profession"
          profession
          #profession="ngModel"
        />
      </div>

      <div class="form-group">
        <label for="about_myself">About myself</label>
        <textarea name="comment" cols="46" rows="4"
        class="form-control"
        id="about_myself"
        [(ngModel)]="form.about_myself"
        name="about_myself"
        type="about_myself"
        maxlength="500"
        about_myself
        #about_myself="ngModel"
        >
          {{form.about_myself}}
        </textarea>
        
  
        <div class="alert-danger" *ngIf="about_myself.errors && f.submitted">
          <div *ngIf="about_myself.errors.maxlength">
            Text must be at most 500 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block"
        >Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>
  </div>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>

